<html>
    <head>
        <title>Farms</title>
    </head>
    <body style="background-color: rgb(26, 201, 249);">
        <h1 align="center" style= "color:rgb(175, 51, 130);">ORIKKAI</h1>
        <h2 align="center" style= "color:rgb(175, 51, 130);">Srinamo farms</h2>
        <pre>
        <p style="background-color: rgb(149, 182, 248); font-family: Georgia, 'Times New Roman', Times, serif; font-style: normal; color:black; text-align: justify;">
          - Located on the Kanchipuram Taluk, Perumbakkam, Chennai, Srinamo Farms  is an ideal relaxation home. 
          - Srinamo Farms an ideal home for families, corporates, get-togethers, birdwatchers, adventure seekers etc.
          - It is next to the lake so one can enjoy the beautiful View of the lake, plants, birds in the area.
          - This has been designed and built to allow your guests to experience and enjoy the natural ambience.
          - Air conditioned rooms with attached bathroom
          - Balcony attached with all rooms
          - Kitchen (*Basic utensils, Induction Stove, Fridge)
          - dining table
          - Living room (with Sofa-cum-bed)
          - Bar area
          - Swimming pool (shower, Changing rooms)
          - Water Slide
          - Jacuzzi
          - Kids pool
          - Tree house (100sq.ft.)
          - Music System
          - Lawn with 350 people capacity
          - Large party Lawn with more than 1700 People capacity
          - Lawn for sports like cricket,Throwball etc.
          - Parking for more than 25 Cars available
          - Fountain
          - Picnic tables
           </p>
           </pre>
</html>